# Токен бота
BOT_TOKEN=f9LHodD0cOInI6vEiQNDGhBwDIqZHcgU76DdsQ6pxnz4qVdPaBtF4tyAlzo5N_KvZmJnHYjzlkVBkKvXB7k2
# ID администраторов через запятую
ADMIN_IDS=5819064

# ID чата для опросов (опционально)
CHAT_ID=-69929528877240
